.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 100vh;
    width: 100%;
}


.pagination-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 75%;

}

.tab-container {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    padding: 2px;
    border-radius: 9px;
}
  
.scroller {
    content: "";
    width: 100%; 
    height: 15px;
    opacity: 0.4;
    background: #888;
    position: absolute;
    bottom: -20px;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 7px;
    cursor: grab;
}

.scroller:active {
    cursor: grabbing;
}
  
.indicator {
    content: "";
    width: calc(100% / 3);
    height: 15px;
    background: #ffa500;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.tab {
    width: auto;
    height: auto;
    z-index: 2;
    border: 1px solid;
    outline: none;
    opacity: 0;
}

.tab:checked + .tab_label {
    background-color: #ffa500; 
    border-color: #000; 
}


.tab:not(:checked) + .tab_label {
    background-color: transparent;
    border-color: transparent;
}

.tab_label {
    width: 20px;
    position: relative;
    flex: 1;
    z-index: 2;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: aqua;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.tab--1:checked ~ .indicator {
    left: 0;
}

.tab--2:checked ~ .indicator {
    left: 33.33%;
}

.tab--3:checked ~ .indicator {
    left: 66.67%
}

.grid-container {
    height: 70vh;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    position: relative;
}

@keyframes flipInX {
    from {
      transform: perspective(800px) rotateY(90deg);
      opacity: 0;
    }
    to {
      transform: perspective(800px) rotateY(0deg);
      opacity: 1;
    }
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    backface-visibility: hidden;
    transition: opacity 0.5s ease;
}

.grid-item.flipping {
    animation: flipInX 1s forwards; 
    transition: opacity 0.5s ease;
}

.grid-item.selected {
    z-index: 999;
    transform: scale(1.75);
    transform-origin: center;
    border: 5px solid red;
    transition: transform 0.25s ease, border 0.5s ease, opacity 0.5s ease, z-index 1s ease;
}
.grid-item.unselected {
    border: 2.5px solid black;
    opacity: 0.75;
    transition: transform 1s ease, border 0.5s ease, opacity 2s ease, z-index 2s ease;
}
  
.grid-background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-position: center;
}
  
.grid-name {
    position: absolute;
    width: calc(100% - 40px); /* Adjusted for padding */
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.grid-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: calc(50% - 40px);
    bottom: 50%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: center;
}

.grid-link-button {
    color: #090909;
    padding: 0.5em 1em;
    margin: 20px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #5f5f5f, -6px -3px 20px #ffffff;
}

.grid-link-button:hover {
    background-color: rgba(255, 70, 70, 0.8);
    box-shadow: 6px 6px 12px #5f5f5f, -2px -3px 10px #000000;
    transition: all 0.3s;
}

