/* header.css */

:root {
    --main-color: #F6F2F2;
    --secondary-color: #ECE9E9;
    --text-color: black;
    --hover-color: #9abdbf;
    --hover-bg-color: #CCFBFE;
    --nav-link-size: 18px;
    --header-font-size: 24px;
    --button-padding: 10px 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0,0,0,0.75); 
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.logo .spinner {
    height: 22px;
    width: 22px;
    animation: spinner-y0fdc1 6s infinite ease;
}

.logo .spinner > div {
    background-color: rgba(204, 251, 254, 0.2);
    border: 1px solid black;
}
.logo .spinner div:nth-of-type(1) {
    transform: translateZ(-11px) rotateY(180deg);
}
.logo .spinner div:nth-of-type(6) {
    transform: translateZ(11px);
}


header h1 {
    margin: 0;
    font-size: var(--header-font-size);
}


.hamburger {
    display: none; 
    background-color: var(--hover-bg-color);
    border: white 1px solid;
    font-size: 16px;
    cursor: pointer;
}

nav {
    display: none;
    position: absolute; /* Position absolutely for dropdown */
    width: 100%; /* Full width */
    flex-direction: column; /* Stack items vertically */
    gap: 0; /* Adjust gap as needed */
    padding: 0; /* Adjust padding as needed */
    top: 50px; /* Adjust based on the header's height */
    left: 0;
    padding: 2.5px;
    gap: 50px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

nav.show {
    display: flex;
}

nav a {
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: var(--nav-link-size);
    transition: color 0.3s, background-color 0.3s;
}

nav a.active {
    background-color: white;
    border: 1px solid;
}
nav a:hover {
    background-color: var(--hover-bg-color);
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hover-bg-color);
    color: black;
    border: 2px white solid;
    border-radius: 10px;
    padding: var(--button-padding);
    cursor: pointer;
    transition: background-color 0.3s;
}

header button svg {
    height: var(--nav-link-size);
    width: auto;
    margin-left: 10px;
}
header button:hover {
    background-color: var(--hover-color);
}

.resume-download {
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: block; 
    }

    nav {
        flex-direction: column; 
        gap: 10px;
    }

    nav a {
        text-align: center;
    }

    nav.show {
        display: flex; 
    }

    .resume-download {
        display: none;
    }
}

@media (min-width: 769px) {
    nav {
        display: flex; 
        position: static;
        flex-direction: row;
        width: auto;
        gap: 20px; 
    }

    .hamburger {
        display: none;
    }
}
