@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
:root {
    --main-color: #F6F2F2;
    --secondary-color: #ECE9E9;

    --header-height: 50px;

    --main-font-size: 24px;
    --secondary-font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif', serif;
}

body {
    background-color: var(--main-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainBody {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: var(--header-height);
    margin-top: 0;
    margin-right: auto;
    margin-left: auto; 
    
}

h1 {
    font-size: 50pt;
}
h2 {
    font-size: 20pt;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Makes the track background transparent */
}

::-webkit-scrollbar-thumb {
    background: #ff1e1e; /* Change to your desired thumb color */
    border-radius: 10px; /* Optional: adds rounded corners to the scrollbar thumb */
}

::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
}

.spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toolTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: var(--secondary-font-size);
    gap: 10px;
}

.toolTitle svg {
    height: var(--main-font-size);
    width: auto;
}


