@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
:root {
    --main-color: #CCFBFE;
    --secondary-color: #CDD6DD;

    --header-height: 50px;

    --main-font-size: 24px;
    --secondary-font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif', serif;
}

body {
    background-color: var(--main-color);
}

.mainBody {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: calc(100vh - 50px);
    margin-top: 50px; 
}

.toolTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--secondary-font-size);
    gap: 10px;
}

.toolTitle svg {
    height: var(--main-font-size);
    width: auto;
}
